body{
    background:  rgba(0,0,0,0.3);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media(max-width: 991px){
    .sidebar{
        background-color: rgba(0, 0, 0, 0.15);
        backdrop-filter: blur(10px);
    }
}