@import url( 'https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body{
    background:  rgba(226, 217, 217, 0.3);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.card-container {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}
.product-inner-box .icons{
    right: 15px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    top: -3%;
    transition: all 0.2s ease-in-out, transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
    opacity: 0;
}

.product-inner-box .icons a{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #fff;
}


.product-inner-box .onsale .badge{
    background: #000;
    font-size: 12px;
    padding: 5px 14px;
    top: 0px;
    position: absolute;
}

.product-inner-box .onsale .badge:before{
    border-width: 10px 0px 0px 10px;
    border-color: transparent transparent transparent #000;
    content: "";
    position: absolute;
    right: -8px;
    width: 0;
    bottom: 0;
    border-style: solid;
}

.product-inner-box .onsale .badge::after{
    border-width: 10px 8px 0px 10px;
    border-color: #000 transparent transparent;
    content: "";
    position: absolute;
    right: -8px;
    width: 0;
    top: 0;
    border-style: solid;
}

.product-inner-box img{
    box-shadow: 0 33px 61px -29px rgb(0 0 0 / 26%);
    height: 350px;
    width: 100%;
    object-fit: cover;
}

.product-box.is-hover .icons {
    transform: rotate(-3%);
    top: 3%;
    opacity: 1;
}

.cart-btn {
    position: absolute;
    bottom: 20px;
    text-align: center;
}

.navbar {
    background-color: white; /* Set navbar background to white */
}

.navbar-brand,
.nav-link {
    color: black !important; /* Set navbar brand and link color to black */
}

/* You may also need to adjust the hover and active link styles */
.navbar-brand:hover,
.nav-link:hover,
.nav-link.active {
    color: gray !important; /* Change color to gray on hover and for active link */
}



.c-item {
    height: 660px;
}

.c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

@media(max-width: 991px){
    .sidebar{
        background-color: rgba(0, 0, 0, 0.15);
        backdrop-filter: blur(10px);
    }
}