body{
    background:  rgba(0,0,0,0.3);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.c-item {
    height: 660px;
}

.c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

@media(max-width: 991px){
    .sidebar{
        background-color: rgba(0, 0, 0, 0.15);
        backdrop-filter: blur(10px);
    }
}